* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: 000;
    font-family: "Roboto", sans-serif;
}
//configurar a fonte
#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
    border-bottom: 1px solid #868686;
    padding: 0.1em 1em;
    height: 50px;
}
//personalizar a nav bar e cores 

.nav-link {
    display: flex;
    gap: 20px;
    margin-right: 10px;
    align-items: center;
    list-style: none;
}
////personalizar a nav bar

.nav-link li {
    margin-right: 1em;
}

.nav-link a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

.nav-link a:hover
{
   color: #60568A;
}

#main
{
    height: 100%;
}
//configurar titulo e tamanho do texto
.title
{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.text
{
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
     
}
.text img 
{
    width: 60%;
  
}
.text p
{
font-size: 1.2rem;
}
